# Configuración del MCP Builder
MCP_CATALOG_FILE=.gemini/settings.catalog.json
MCP_FILE=.gemini/settings.json
AI_COMMAND_PATH=

# Credenciales de Atlassian (Jira)
JIRA_URL="https://tu-dominio.atlassian.net"
JIRA_USERNAME="tu-email@ejemplo.com"
JIRA_API_TOKEN="tu_token_de_api"

# Credenciales de Tavily
TAVILY_API_KEY="tu_token_de_tavily"

# Credenciales MYM para mentor y mentee
MENTOR_EMAIL="your-email-here"
MENTOR_PASSWORD="your-password-here"